body{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-image: url("Gambar/Tanpa judul (1920 × 720 piksel) (3).png");
    background-size: cover;
}
nav{
    background-color: rgb(33, 33, 83);
    height: 80px;
 
}
 nav img{
    height: 60px;
    margin: 8px 5px 3px 10px;
}
ul{
    float: right;
    list-style: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    font-size: 25px;
    margin: 0px 15px;
    color: white;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 30px;
}
article img{
    display: block;
    
    height: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}